body {
    background-color: #f8f8f8;
}

.content {
    min-height: calc(100vh - 60px);
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f0f0f0;
}

.reg_form{
    width: 100%;
    max-width: 720px;
    padding: 15px;
    margin: auto;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: #ffffff; /* White */
    margin-bottom: 15px;
}

.alert-success {
    padding: 20px;
    background-color: #32CD32; /* Green */
    color: #ffffff; /* White */
    margin-bottom: 15px;
}

/* The close button */
.close_btn {
    margin-left: 15px;
    color: #ffffff; /* White */
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.close_btn:hover {
    color: #000000; /* Black */
}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}


.text-white-50 { color: rgba(255, 255, 255, .5); }


.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.box_big {
    width: 100%;
    max-width: 720px;
    padding: 15px;
    margin: 0 auto;
}

.search_bar{
    width:100%;
}

.hide{
    display: none;
}




