:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}




.wide_input {
    position: relative;
    margin-bottom: 1rem;
}

.wide_input > input {
    padding: var(--input-padding-y) var(--input-padding-x);
}


element.style {
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
}

.form_login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form_register {
    width: 100%;
    max-width: 720px;
    padding: 15px;
    margin: 0 auto;
}