<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                lang="cs">


    <div class="mt-4 mb-5 p-2">
        <div class="border rounded bg-white h-100">
            <div id="online-friends" class="list-group p-2">
                        <span class="list-group-item list-group-item-dark">Online uživatelé:
                        </span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="chat_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="chat_title" class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <ul class="chat">
                        </ul>
                    </div>
                </div>
                    <div class="modal-footer">
                            <div class="input-group">
                                    <input id="message_send_input" type="text" class="form-control"
                                           placeholder="Napsat novou zprávu..."/>
                                    <span class="input-group-btn">
                                <button id="message_send_button" class="btn btn-warning">
                                Poslat</button>
                                </span>
                            </div>
                    </div>
            </div>
        </div>
    </div>

        </ui:composition>
