<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sec="https://joinfaces.org/security"
                lang="cs">

    <div class="container mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div>
                <div class="feed p-2">
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                        <h:form id="new_post_form" style="width:100%">
                            <div class="form-row">
                                <div class="col-12">


                                    <h:inputTextarea class="form-control" rows="3"
                                                     a:placeholder="Vložte nový příspěvek..."
                                                     id="new_post_input"
                                                     value="#{dashboardService.newPostText}"/>
                                    <sec:authorize access="hasRole('ADMIN')">
                                        <div class="form-check">
                                            <h:selectBooleanCheckbox value="#{dashboardService.newPostAnnouncement}"
                                                                     class="form-check-input" id="checkbox_announcement"/>
                                            <h:outputLabel for="checkbox_announcement" class="form-check-label">
                                                Odeslat jako oznámení
                                            </h:outputLabel>
                                        </div>
                                    </sec:authorize>
                                </div>
                            </div>
                            <br/>
                            <div class="form-row">
                                <div class="col-12">
                                    <h:commandLink style="width:100%" class="btn btn-info"
                                                   action="#{dashboardService.addPost}">
                                        <f:ajax
                                                execute="@form"
                                                render=":posts_form:posts modals"
                                                onevent="onNewPostSent"/>
                                        Přidat příspěvek
                                    </h:commandLink>
                                </div>
                            </div>
                            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                        </h:form>
                    </div>

                    <h:form id="posts_form">
                        <h:panelGroup id="posts">
                            <ui:repeat value="#{dashboardService.posts}" var="post">
                                <div class="bg-white border mt-2">
                                    <div>
                                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                            <div class="d-flex flex-row align-items-center feed-text justify-content-between px-2">
                                                <div class="d-flex flex-column flex-wrap ml-2">
                                                    <span class="font-weight-bold">#{post.author.username}</span>
                                                    <span class="text-black-50 small_text">#{post.author.email}</span>
                                                </div>
                                            </div>
                                            <span class="font-weight-bold">#{post.formattedDate}</span>
                                        </div>
                                    </div>
                                    <div class="p-2 px-3 border-bottom">
                                        <span>#{post.text}</span>
                                    </div>
                                    <div class="d-flex justify-content-between socials p-2">
                                        <a type="button" class="btn btn-sm btn-text modal_toggle" data-target="#modal_#{post.identification}">
                                            #{post.getFormattedLikes()}
                                        </a>
                                        <h:commandLink rendered="#{post.postButton.showButton()}"
                                                       action="#{post.postButton.clickButton}"
                                                       class="btn btn-sm #{post.postButton.buttonClass}">
                                            <f:ajax execute="@form" render="posts modals"
                                                    onevent="jquerySelectors"
                                            />
                                            #{post.postButton.buttonText}
                                        </h:commandLink>


                                    </div>
                                </div>
                            </ui:repeat>
                        </h:panelGroup>
                        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

    <h:panelGroup id="modals">
        <ui:repeat value="#{dashboardService.posts}" var="post">
            <div class="modal fade" id="modal_#{post.identification}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Uživatelé, kterým se líbí příspěvek:</h5>
                        </div>
                        <div class="modal-body">
                            <ui:repeat value="#{post.usersLiked}" var="user">
                                #{user.username} (#{user.email})
                                <br/>
                            </ui:repeat>
                        </div>

                    </div>
                </div>
            </div>


        </ui:repeat>
    </h:panelGroup>

    <h:form id="show_more_form">
        <h:commandLink id="show_more_button" action="#{dashboardService.showMore}" class="hide">
            <f:ajax
                    execute="@form"
                    render=":posts_form:posts modals"
                    onevent="jquerySelectors"/>
        </h:commandLink>
        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
    </h:form>

    <h:form id="refresh_form">
        <h:commandLink id="refresh_button" action="#{dashboardService.refresh}" class="hide">
            <f:ajax
                    execute="@form"
                    render=":posts_form:posts modals"
                    onevent="jquerySelectors"/>
        </h:commandLink>
        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
    </h:form>

</ui:composition>