<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/jsf/base.xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                lang="cs">

    <ui:define name="stylesheets">
        <link rel="stylesheet" href="/css/dashboard.css"/>
        <link rel="stylesheet" href="/css/friend_list.css"/>
    </ui:define>

    <ui:define name="title">Hlavní stránka</ui:define>


    <ui:define name="body">



        <input id="current_user" type="hidden" value="#{loggedUserService.user.username}"/>
            <div class="row equal">
                <div class="col-lg-3">
                    <ui:include src="dashboard_components/friend_list.xhtml"></ui:include>
                </div>
                <div class="col-lg-9">
                    <ui:include src="dashboard_components/posts.xhtml"/>
            </div>
        </div>



    </ui:define>

    <ui:define name="scripts">
        <script src="/js/dashboard.js"></script>
        <script src="/js/friend_list.js"></script>
    </ui:define>

</ui:composition>
