<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:sec="https://joinfaces.org/security"

                template="/WEB-INF/jsf/base.xhtml"
                lang="cs">

    <ui:define name="title">Login</ui:define>

    <ui:define name="stylesheets">
        <link rel="stylesheet" href="/css/register.css"/>
    </ui:define>



    <ui:define name="body">



        <form class="form_login" action="/login" method="POST">



            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Přihlášení</h1>
            </div>

            <div class="alert">
                <span class="close_btn" onclick="this.parentElement.style.display='none';">&#215;</span>
                Přihlášení se nezdařilo. <br/>
            </div>

            <div class="wide_input">
                <input type="email" name="username" class="form-control" placeholder="Emailová adresa"
                       required="required" autofocus="autofocus"/>
            </div>

            <div class="wide_input">
                <input type="password" name="password" class="form-control" placeholder="Heslo"
                       required="required"/>

            </div>

            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
        </form>
    </ui:define>

</ui:composition>
