<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"

                template="/WEB-INF/jsf/base.xhtml"
                lang="cs">

    <ui:define name="title">Registrace</ui:define>

    <ui:define name="stylesheets">
        <link rel="stylesheet" href="/css/register.css"/>
    </ui:define>

    <ui:define name="body">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Registrační formulář</h1>
        </div>
        <h:form id="form_register" class="form_register">
            <ui:fragment rendered="#{registrationService.alertBoxLines.size() > 0}">
                <div class="alert">
                    <span class="close_btn" onclick="this.parentElement.style.display='none';">&#215; </span>
                    <ui:repeat var="line" value="#{registrationService.alertBoxLines}">
                        ${line} <br/>
                    </ui:repeat>
                </div>
            </ui:fragment>

            <div class="row">
                <h:outputLabel for="email_input" id="email_label"
                               class="col-3 col-form-label">Emailová adresa:</h:outputLabel>
                <div class="col-9 wide_input">
                    <h:inputText value="#{registrationService.email}" id="email_input"
                                 class="form-control"
                                 a:placeholder="Email"/>
                    <div id="email_validation_message">
                    </div>
                </div>
            </div>
            <div class="row">
                <h:outputLabel for="username_input" id="username_label"
                               class="col-3 col-form-label float-right">Uživatelské jméno:</h:outputLabel>
                <div class="col-9 wide_input">
                    <h:inputText value="#{registrationService.username}" id="username_input" class="form-control"
                                 a:placeholder="Uživatelské jméno"/>
                    <div id="username_validation_message">
                    </div>
                </div>

            </div>

            <div class="row">
                <h:outputLabel for="password_input" id="password_label"
                               class="col-3 col-form-label">Heslo:</h:outputLabel>
                <div class="col-9 wide_input">
                    <h:inputSecret value="#{registrationService.password}" id="password_input" class="form-control password_input"
                                   a:placeholder="Heslo"/>
                    <div id="password_validation_message">
                    </div>
                </div>

            </div>

            <div class="row">
                <h:outputLabel for="password_check_input" id="password_check_label"
                               class="col-3 col-form-label">Heslo znovu:</h:outputLabel>
                <div class="col-9 wide_input">
                    <h:inputSecret id="password_check_input" value="#{registrationService.passwordCheck}"
                                   class="form-control password_input" a:placeholder="Heslo znovu"/>
                </div>
            </div>

            <h:commandLink action="#{registrationService.register}" class="btn btn-lg btn-primary btn-block">Registrovat</h:commandLink>

            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        </h:form>
    </ui:define>


    <ui:define name="scripts">
        <script src="/js/register.js"></script>
    </ui:define>

</ui:composition>
