<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/jsf/base.xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                lang="cs">

    <ui:define name="title">Vyhledávání uživatelů</ui:define>


    <ui:define name="body">

        <div class="container">
        <h:form id="search_form">
            <div class="box_big">
            <div class="input-group">
            <h:inputText value="#{relationshipService.searchBar}" id="search_bar" class="search-bar form-control"
            a:placeholder="Zadejte alespoň tři písmena"/>
                <span class="input-group-btn">
            <h:commandLink id="search_button" action="#{relationshipService.search}"
                           class="btn btn-secondary">
                <f:ajax execute="@form" render="
                :search_result_form:search_render
                :blocked_form:blocked_render
                :friend_form:friend_render
                :pending_form:pending_render
"/>
                Obnovit
            </h:commandLink>
                </span>
            </div>
            </div>
            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        </h:form>
        </div>

        <ui:include src="relationship_components/search_table.xhtml"/>
        <ui:include src="relationship_components/pending_table.xhtml"/>
        <ui:include src="relationship_components/blocked_table.xhtml"/>
        <ui:include src="relationship_components/friend_table.xhtml"/>


    </ui:define>

    <ui:define name="scripts">
        <script src="/js/search.js"></script>
    </ui:define>

</ui:composition>
