<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                lang="cs">

    <div class="container">
        <h:form id="friend_form">
            <h:panelGroup id="friend_render">
                <div class="my-3 p-3 bg-white rounded box-shadow box_big">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Přátelé</h6>
                    <ui:repeat value="#{relationshipService.friends}" var="line">
                        <div class="media text-muted pt-3">
                            <div class="container row media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="col-6">
                                         <span>
                                            <strong class="d-block text-gray-dark">#{line.username}</strong>
                                             #{line.email}
                                         </span>
                                </div>
                                <div class="col-6">
                                    <div class="justify-content-center gap-1 btn-toolbar">
                                        <h:outputText rendered="#{line.hasText}" value="#{line.text}" />
                                        <ui:repeat rendered="#{!line.hasText}" value="#{line.buttons}" var="button">
                                            <h:commandLink class="btn btn-sm #{button.buttonClass}" action="#{button.doAction}">
                                                <f:ajax execute="@form" render="friend_render"/>
                                                #{button.buttonText}
                                            </h:commandLink>
                                        </ui:repeat>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
            </h:panelGroup>
            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        </h:form>
    </div>

</ui:composition>