<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="https://joinfaces.org/security"
      lang="cs">

<h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <script type="text/javascript">
        var _csrfParameterName = '#{_csrf.parameterName}';
        var _csrfHeaderName = '#{_csrf.headerName}';
        var _csrfToken = '#{_csrf.token}';
    </script>


    <title>PIA APP: <ui:insert name="title">TEMPLATE</ui:insert></title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <ui:insert name="stylesheets"></ui:insert>

</h:head>

<h:body>



    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#{pageContext.request.contextPath}">Prototyp sociální sítě</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNavAltMarkup" class="collapse navbar-collapse justify-content-between" >
                    <ul class="navbar-nav">
                        <sec:authorize access="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Zeď</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/relationship">Přátelé</a>
                            </li>
                        </sec:authorize>
                        <sec:authorize access="hasRole('ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Správa administrátorů</a>
                            </li>
                        </sec:authorize>
                    </ul>
                    <ul class="navbar-nav">
                        <sec:authorize access="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="/relationship">
                                    Přihlášen jako <b>#{loggedUserService.user.username}</b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <form action="/logout" method="POST">
                                    <button type="submit" class="nav-link btn btn-link" title="Odhlásit">
                                        Odhlásit se
                                    </button>
                                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                                </form>
                            </li>
                        </sec:authorize>
                        <sec:authorize access="!isAuthenticated()">
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Přihlásit</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Registrovat</a>
                            </li>
                        </sec:authorize>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="pb-3">
            <ui:insert name="body">TEMPLATE</ui:insert>
        </div>

    </div>
    <div class="border-top footer text-muted">
        <div class="container">
            Semestrální práce z předmětu KIV/PIA - Štěpán Červenka - 2021/2022
        </div>
    </div>


    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/js/app.js"></script>

    <ui:insert name="scripts"></ui:insert>

</h:body>

</html>